
<div class= "container">

    <h1>Specials </h1>

    <h3 id='saveMessage'> </h3>
    <div class='row' overflow='auto'>
        <div class="col-lg-6" v-for="special in specials" v-on:click="selectSpecial(special)" v-bind:class="{well: true, borderComplete:special.selected}">
          <img v-bind:src="special.image_file_url" height="100" width="100">
              <span class='col-md-1'>
                <h5>{{special.image_file_name}}</h5>
              </span>
              <span class='col-md-8'>
                <h3>{{special.name}}</h3>
                <h5>{{special.description}}</h5>
              <a v-bind:href="'/specials/' + special.id +'/edit'" class="btn-sm btn-primary">EDIT</a>
              </span>
        </div>
      </div>
         
      <a v-on:click="saveSpecials()" type="submit" class="btn btn-primary" role="button">Save</a> </a>
    </div>

</div>


