<div id="schedule">

<h2>Schedule</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div>Name<br>Time<br>remove</div></td>
        <td><div>Name2<br>Time2<br>remove</div></td>
      </tr>

      <tr> 
        <td><div>Name<br>Time<br>remove</div></td>
      </tr>

      <tr> 
        <td><div>add</div></td>
        <td><div>add</div></td>
        <td><div>add</div></td>
        <td><div>add</div></td>
        <td><div>add</div></td>
        <td><div>add</div></td>
      </tr>


    </tbody>
  </table>

</div>