    <!-- Banner Start -->
      
      <div class="banner padd">
        <div class="container">
          <!-- Image -->
          <img class="img-responsive" src="img/crown-white.png" alt="" />
          <!-- Heading -->
          <h2 class="white">About</h2>
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">About</li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
      
      <!-- Banner End -->

      <!-- Inner Content -->
      <div class="inner-page padd">
      
        <!-- About company -->
        <div class="about-company padd">
          <div class="container">
            <!-- <div class="row"> -->
              <!-- <div class="col-md-4"> -->
                <!-- About Compnay Item -->
                <div class="about-company-item">
                  <!-- About Company Image -->
            
                  <!-- <img class="img-responsive img-thumbnail" src="img/chef/about-1.jpg" alt="" /> -->
                </div>
              <!-- </div> -->
              <!-- <div class="col-md-8"> -->
                <!-- About Compnay Item -->
                <div class="about-company-item">
                  <!-- Heading -->
                  <h3>About Our <span class="lblue">Restaurant</span></h3>
                  <!-- Paragraph -->
                  <img class="img-responsive img-thumbnail wrap-right" src="/assets/Brooklyn.jpg" alt=""/>
                  <p>

The family first started in the Pizza business way back in 1969, a little store front in Brooklyn, New York. Mario and Gina Persico with their three small children, and extended family members began to learn the pizza trade. The first years were very challenging.<br><br>

The whole family pitched in. Uncle Mike helped with the build out, he was a carpenter, his wife Vitina brought some family receipts, Uncle Nuzio did the pizza deliveries, Grandpa ( Nonno Carlo ) came on the weekends to help with dishwashing, prep and keep everyone straight..<br><br>

The Kids did their share folding pizza boxes and scooping up lemon ices for the customers. It wouldn't be uncommon to find the children and their cousin engaged in a pizza box folding contest. What can I tell you..Pizza boxes flying everywhere!<br><br>

They had one employee a Crazy Italian Chef.. He disappeared one day never to be seen or heard from again. What can I say.. Lots of weird things happened in Brooklyn in the 70's.<br><br>

Many of our loyal customers ask Why the Rusticana Name??<br><br>

It's actually an interesting story...<br><br> </p>
<img class="img-responsive img-thumbnail wrap-left" src="/assets/RusticanaOLD.JPG" alt=""/>

<p>
The founder Mario Persico, was born and raised in a small village in the mountains of Sicily, Italy named Vizzini.
Vizzini back in its heyday, mid to late 1800's was a place where very prominent people lived. This is evident in the rich baroque architecture, many beautiful churches, piazzas and was a place where the Arts flourished.<br><br>

The composer Giovanni Verga, a Vizzini native published a tragedy in 1880, The story became a famous opera "Cavalleria Rusticana " . ("Rustic Chivalry")<br><br>

It told the story of a young man on his return to his village, (Vizzini) from army service, Turiddu Macca discovers that his sweetheart, Lola, is bethrothed to Alfio. Spitefully, Turiddu begins a flirtation with Santa, the daughter of his employer. Jealous of this new relationship, Lola takes Turiddu as a lover. Santa informs Alfio of Lola's infidelity. Alfio challenges Turiddu to a duel to the death, Turiddu is killed.<br><br></p>
<img class="img-responsive img-thumbnail wrap-right" src="/assets/italy.jpg" alt=""/>

<p>
This story is told as an opera and is performed globally. If you travel to the Village of Vizzini you will see area of town where the events took place.<br><br>

Mario upon the suggestion of his brother in law Mike, decided to pay homage to his hometown of Vizzini by naming the restaurant "Rusticana Pizza"<br><br>

In 1981 the family including his new son in law Tony Genova discovered the Beautiful Eastern shore of Maryland. The family decided collectively to pick up roots and move to Cambridge, Maryland. The first Maryland Rusticana Pizza opened its doors in the Shoal Creek Mall. As the family grew so did the business, opening locations in Easton, St. Mike's, Seaford, Delaware, Preston, and Federalsburg as well as a second location in Cambridge. The entire family was working hard serving up delicious Pizza's, Calzones, Pasta's and some local favorites like the Cheesesteak sub<br><br> </p>
<img class="img-responsive img-thumbnail wrap-left" src="/assets/TonyJoann.JPG" alt=""/>

<p>
Today the Genova Family, headed by Tony and his wife Joann, Mario's daughter, continue the Rusticana Pizza family tradition. The Genova Kids, Anthony, Vanessa and Marco, have all worked in the restaurant over the years.<br><br> 

Tony has operated the Rusticana location, Easton By Pass, Marlboro Avenue for the Past 24 Years. He is always in the restaurant to greet his loyal customers with a smile, most he knows by name. His customers are his friends, neighbors and some he considers family. It's not only about great food it's about friendship and supporting one another through thick and thin.<br><br>
</p>
<img class="img-responsive img-thumbnail wrap-right" src="/assets/anthonyPapa.jpg" alt=""/>

<p>

The family has and continues to support the local community by giving back, participating in local fund raisers, sponsoring local sports teams, and mentoring young people with job opportunities and etc..<br><br>

Anthony the oldest son, a graduate of NYU Polytechnic University, with a degree in engineering decided to come back home and join the family business. The Dover Road Location opened its doors in the fall of 2012. We call this turn of events "Rusticana Pizza the Next Generation"<br><br>

What started 46 years ago is still going strong!<br><br>

Many thanks to all Our Loyal Customers, Past and Present<br><br>

Your support and friendship has been truly unbelievable!<br><br>

As told by Joann Genova <br><br> </p>
   
                  </div>
                <!-- </div> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
        
    
        
      </div><!-- / Inner Page Content End --> 