    <!-- Banner Start -->
      
      <div class="banner padd">
        <div class="container">
          <!-- Image -->
          <img class="img-responsive" src="img/crown-white.png" alt="" />
          <!-- Heading -->
          <h2 class="white">Gallery</h2>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Gallery</li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
      
      <!-- Banner End -->
      
      
      
      <!-- Inner Content -->
      <div class="inner-page padd">
        
        <!-- Gallery Start -->
        
        <div class="gallery">
          <div class="container">
            <!-- Gallery elements with pretty photo -->
            <div class="gallery-content">
              <div class="row">
                <div class="col-md-3 col-sm-4">
                  <!-- Separate gallery element -->
                  <div class="element">
                    <!-- Image -->
                    <img class="img-responsive img-thumbnail" src="/assets/galleryFoods/CheesePizza.JPG" alt=""/>
                    <!-- Gallery Image Hover Effect -->
                    <span class="gallery-img-hover"></span>
                    <!-- Gallery Image Hover Icon -->
                    <a href="/assets/galleryFoods/CheesePizza.JPG" class="gallery-img-link">
                      <i class="fa fa-search-plus hover-icon icon-left"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-link hover-icon icon-right"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4">
                  <!-- Separate gallery element -->
                  <div class="element">
                    <!-- Image -->
                    <img class="img-responsive img-thumbnail" src="/assets/galleryFoods/HawaiianPizza.JPG" alt=""/>
                    <!-- Gallery Image Hover Effect -->
                    <span class="gallery-img-hover"></span>
                    <!-- Gallery Image Hover Icon -->
                    <a href="/assets/galleryFoods/HawaiianPizza.JPG" class="gallery-img-link">
                      <i class="fa fa-search-plus hover-icon icon-left"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-link hover-icon icon-right"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4">
                  <!-- Separate gallery element -->
                  <div class="element">
                    <!-- Image -->
                    <img class="img-responsive img-thumbnail" src="/assets/galleryFoods/MeatLoversPizza.JPG" alt=""/>
                    <!-- Gallery Image Hover Effect -->
                    <span class="gallery-img-hover"></span>
                    <!-- Gallery Image Hover Icon -->
                    <a href="/assets/galleryFoods/MeatLoversPizza.JPG" class="gallery-img-link">
                      <i class="fa fa-search-plus hover-icon icon-left"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-link hover-icon icon-right"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4">
                  <!-- Separate gallery element -->
                  <div class="element">
                    <!-- Image -->
                    <img class="img-responsive img-thumbnail" src="/assets/galleryFoods/PeppPizza.JPG" alt=""/>
                    <!-- Gallery Image Hover Effect -->
                    <span class="gallery-img-hover"></span>
                    <!-- Gallery Image Hover Icon -->
                    <a href="/assets/galleryFoods/PeppPizza.JPG" class="gallery-img-link">
                      <i class="fa fa-search-plus hover-icon icon-left"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-link hover-icon icon-right"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4">
                  <!-- Separate gallery element -->
                  <div class="element">
                    <!-- Image -->
                    <img class="img-responsive img-thumbnail" src="/assets/galleryFoods/CheeseSteak.JPG" alt=""/>
                    <!-- Gallery Image Hover Effect -->
                    <span class="gallery-img-hover"></span>
                    <!-- Gallery Image Hover Icon -->
                    <a href="/assets/galleryFoods/CheeseSteak.JPG" class="gallery-img-link">
                      <i class="fa fa-search-plus hover-icon icon-left"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-link hover-icon icon-right"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4">
                  <!-- Separate gallery element -->
                  <div class="element">
                    <!-- Image -->
                    <img class="img-responsive img-thumbnail" src="/assets/galleryFoods/FishSub.JPG" alt=""/>
                    <!-- Gallery Image Hover Effect -->
                    <span class="gallery-img-hover"></span>
                    <!-- Gallery Image Hover Icon -->
                    <a href="/assets/galleryFoods/FishSub.JPG" class="gallery-img-link">
                      <i class="fa fa-search-plus hover-icon icon-left"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-link hover-icon icon-right"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4">
                  <!-- Separate gallery element -->
                  <div class="element">
                    <!-- Image -->
                    <img class="img-responsive img-thumbnail" src="/assets/galleryFoods/MeatBallSub.JPG" alt=""/>
                    <!-- Gallery Image Hover Effect -->
                    <span class="gallery-img-hover"></span>
                    <!-- Gallery Image Hover Icon -->
                    <a href="/assets/galleryFoods/MeatBallSub.JPG" class="gallery-img-link">
                      <i class="fa fa-search-plus hover-icon icon-left"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-link hover-icon icon-right"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4">
                  <!-- Separate gallery element -->
                  <div class="element">
                    <!-- Image -->
                    <img class="img-responsive img-thumbnail" src="/assets/galleryFoods/PizzaBurger.JPG" alt=""/>
                    <!-- Gallery Image Hover Effect -->
                    <span class="gallery-img-hover"></span>
                    <!-- Gallery Image Hover Icon -->
                    <a href="/assets/galleryFoods/PizzaBurger.JPG" class="gallery-img-link">
                      <i class="fa fa-search-plus hover-icon icon-left"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-link hover-icon icon-right"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4">
                  <!-- Separate gallery element -->
                  <div class="element">
                    <!-- Image -->
                    <img class="img-responsive img-thumbnail" src="/assets/galleryFoods/WhiteClam.JPG" alt=""/>
                    <!-- Gallery Image Hover Effect -->
                    <span class="gallery-img-hover"></span>
                    <!-- Gallery Image Hover Icon -->
                    <a href="/assets/galleryFoods/WhiteClam.JPG" class="gallery-img-link">
                      <i class="fa fa-search-plus hover-icon icon-left"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-link hover-icon icon-right"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4">
                  <!-- Separate gallery element -->
                  <div class="element">
                    <!-- Image -->
                    <img class="img-responsive img-thumbnail" src="/assets/galleryFoods/StuffedShells.JPG" alt=""/>
                    <!-- Gallery Image Hover Effect -->
                    <span class="gallery-img-hover"></span>
                    <!-- Gallery Image Hover Icon -->
                    <a href="/assets/galleryFoods/StuffedShells.JPG" class="gallery-img-link">
                      <i class="fa fa-search-plus hover-icon icon-left"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-link hover-icon icon-right"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4">
                  <!-- Separate gallery element -->
                  <div class="element">
                    <!-- Image -->
                    <img class="img-responsive img-thumbnail" src="/assets/galleryFoods/ChixPastaEntree.JPG" alt=""/>
                    <!-- Gallery Image Hover Effect -->
                    <span class="gallery-img-hover"></span>
                    <!-- Gallery Image Hover Icon -->
                    <a href="/assets/galleryFoods/ChixPastaEntree.JPG" class="gallery-img-link">
                      <i class="fa fa-search-plus hover-icon icon-left"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-link hover-icon icon-right"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4">
                  <!-- Separate gallery element -->
                  <div class="element">
                    <!-- Image -->
                    <img class="img-responsive img-thumbnail" src="/assets/galleryFoods/Raviloli.JPG" alt=""/>
                    <!-- Gallery Image Hover Effect -->
                    <span class="gallery-img-hover"></span>
                    <!-- Gallery Image Hover Icon -->
                    <a href="/assets/galleryFoods/Raviloli.JPG" class="gallery-img-link">
                      <i class="fa fa-search-plus hover-icon icon-left"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-link hover-icon icon-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div><!-- Separate gallery element --><!--/ End Gallery content class -->
          </div>
        </div>
        
        <!-- Gallery End -->
      
        
      </div><!-- / Inner Page Content End --> 
      
      
    </div><!-- / Wrapper End -->
    
    
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span> 
    
    
  </body> 
</html>