    
    <!-- Page Wrapper -->
    <div class="wrapper">
    

      
      <!-- Header End -->
      
      <!-- Slider Start 
      #################################
        - THEMEPUNCH BANNER -
      ################################# -->

      <div class="tp-banner-container">
        <div class="tp-banner" >
          <ul>  <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
              <!-- MAIN IMAGE -->
              <img src="/assets/sliderPics/1.jpg"  alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">
              
              <!-- LAYERS -->
              <!-- LAYER NR. 1 -->
              <div class="tp-caption lfl largeblackbg br-red"
                data-x="20" 
                data-y="100"
                data-speed="1500"
                data-start="1200"
                data-easing="Power4.easeOut"
                data-endspeed="500"
                data-endeasing="Power4.easeIn"
                style="z-index: 3">We Make Delicious...
              </div>
              <!-- LAYER NR. 2.0 -->
              <div class="tp-caption lfl medium_bg_darkblue br-green"
                data-x="20"
                data-y="200"
                data-speed="1500"
                data-start="1800"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Power4.easeIn"
                data-captionhidden="off">Lasagna
              </div>
              <!-- LAYER NR. 2.1 -->
              <div class="tp-caption lfl medium_bg_darkblue br-lblue"
                data-x="20" 
                data-y="250"
                data-speed="1500"
                data-start="2100"
                data-easing="Power4.easeOut"
                data-endspeed="500"
                data-endeasing="Power4.easeIn"
                style="z-index: 3"> Steak Stromboli
              </div>
              <!-- LAYER NR. 2.2 -->
              <div class="tp-caption lfl medium_bg_darkblue br-purple"
                data-x="20" 
                data-y="300"
                data-speed="1500"
                data-start="2400"
                data-easing="Power4.easeOut"
                data-endspeed="500"
                data-endeasing="Power4.easeIn"
                style="z-index: 3">Bread Sticks
              </div>
              <!-- LAYER NR. 2.3 -->
              <div class="tp-caption lfl medium_bg_darkblue br-orange"
                data-x="20" 
                data-y="350"
                data-speed="1500"
                data-start="2700"
                data-easing="Power4.easeOut"
                data-endspeed="500"
                data-endeasing="Power4.easeIn"
                style="z-index: 3">Cold Subs
              </div>
              <!-- LAYER NR. 3.0 -->
              <div class="tp-caption customin customout"
                data-x="right" data-hoffset="-50"
                data-y="100"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="400"
                data-start="3600"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 5"><img class="slide-img img-responsive" src="/assets/lasagnaThumb.jpg" alt="" />
              </div>
              <!-- LAYER NR. 3.1 -->
              <div class="tp-caption customin customout"
                data-x="right" data-hoffset="-120"
                data-y="130"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="400"
                data-start="3900"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 6"><img class="slide-img img-responsive" src="/assets/steakStromboliThumb.jpg" alt="" />
              </div>
              <!-- LAYER NR. 3.2 -->
              <div class="tp-caption customin customout"
                data-x="right" data-hoffset="-10"
                data-y="160"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="400"
                data-start="4200"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 7"><img class="slide-img img-responsive" src="/assets/breadsticksThumb.jpg" alt="" />
              </div>
              <!-- LAYER NR. 3.3 -->
              <div class="tp-caption customin customout"
                data-x="right" data-hoffset="-80"
                data-y="190"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="400"
                data-start="4500"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 8"><img class="slide-img img-responsive" src="/assets/coldSubsThumb.jpg" alt="" />
              </div>
            </li>

            <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="600" >
              <!-- MAIN IMAGE -->
              <img src="/assets/rusticanaInside.jpg" alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">
              <!-- LAYERS NR. 1 -->
              <div class="tp-caption lfl"
                data-x="left"
                data-y="100"
                data-speed="800"
                data-start="1200"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Linear.easeNone"
                data-captionhidden="off"><img class="img-responsive" src="/assets/sliderPics/2slice.png" alt="" />
              </div>
              <!-- LAYERS NR. 2 -->
              <div class="tp-caption lfr large_bold_grey heading white"
                data-x="right" data-hoffset="-10"
                data-y="120"
                data-speed="800"
                data-start="2000"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Linear.easeNone"
                data-captionhidden="off"
                style='color:red !important;' > Specials
              </div>
              <!-- LAYER NR. 3 -->
              <div class="tp-caption whitedivider3px customin customout tp-resizeme"
                data-x="right" data-hoffset="-20"
                data-y="210" data-voffset="0"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="700"
                data-start="2300"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="500"
                style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
              </div>
              <!-- LAYER NR. 4 -->
             <div class="tp-caption lfr modern_big_redbg br-green "
                data-x="right"
                data-hoffset="-10"
                data-y="245"
                data-speed="1000"
                data-start="2700"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Linear.easeNone"
                data-captionhidden="off">Cheese Slices
              </div> 
              <!-- LAYER NR. 5 -->
  <!--             <div class="tp-caption finewide_verysmall_white_mw white customin customout tp-resizeme text-right paragraph"
                data-x="right" data-hoffset="-10"
                data-y="300" 
                data-customin="x:0;y:50;z:0;rotationX:-120;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 0%;"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="1000"
                data-start="3500"
                data-easing="Power3.easeInOut"
                data-splitin="lines"
                data-splitout="lines"
                data-elementdelay="0.2"
                data-endelementdelay="0.08"
                data-endspeed="300"
                style="z-index: 10; color:green !important; max-width: auto; max-height: auto; white-space: nowrap;">Try our two slice lunch special! Comes with a drink of your choice! <br />Monday - Friday 10:30 - 2pm
              </div> -->
            </li>
            <li data-transition="cube" data-slotamount="7" data-masterspeed="600" >
              <!-- MAIN IMAGE -->
              <img src="/assets/sliderPics/2.jpg"  alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">
              <!-- LAYERS NR. 1 -->
<!--               <div class="tp-caption lfl"
                data-x="110"
                data-y="130"
                data-speed="800"
                data-start="1500"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Power4.easeIn"
                data-captionhidden="off"><img src="img/slider/s31.png" class="img-responsive" alt="" />
              </div> -->
              <!-- LAYERS NR. 2 -->
 <!--              <div class="tp-caption lfl"
                data-x="80"
                data-y="265"
                data-speed="800"
                data-start="2200"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Power4.easeIn"
                data-captionhidden="off"><img src="img/slider/s33.png" class="img-responsive" alt="" />
              </div> -->
              <!-- LAYERS NR. 3 -->
<!--               <div class="tp-caption lfl"
                data-x="450"
                data-y="312"
                data-speed="800"
                data-start="2700"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Power4.easeIn"
                data-captionhidden="off"><img src="img/slider/s34.png" class="img-responsive" alt="" />
              </div> -->
              <!-- LAYERS NR. 4 -->
              <div class="tp-caption sfr  thinheadline_dark white"
                data-x="right" data-hoffset="-10" 
                data-y="90"
                data-speed="800"
                data-start="3200"
                data-easing="Power4.easeOut"
                data-endspeed="500"
                data-endeasing="Power4.easeIn"
                style="z-index: 3">Order by phone
              </div>
              <!-- LAYERS NR. 4.1 -->
              <div class="tp-caption lfr largepinkbg br-green"
                data-x="right" data-hoffset="-10"
                data-y="135"
                data-speed="800"
                data-start="3500"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Linear.easeNone"
                data-captionhidden="off">Call ahead!
              </div>
              <!-- LAYERS NR. 5 -->
              <div class="tp-caption skewfromright medium_text text-right paragraph"
                data-x="right" data-hoffset="-10"
                data-y="225"
                data-speed="800"
                data-start="3800"
                data-easing="Power4.easeOut"
                data-endspeed="400"
                data-endeasing="Power4.easeOut"
                data-captionhidden="off">Call one of our two locations. Don't waste time! <br />Your order will be ready by the time you get there
              </div>
              <!-- LAYERS NR. 6 // -->
              <div class="tp-caption lfr modern_big_redbg br-red"
                data-x="right"
                data-hoffset="-10"
                data-y="315"
                data-speed="1500"
                data-start="4100"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Linear.easeNone"
                data-captionhidden="off">Easton (410)-820-5110
              </div>  
              <!-- LAYERS NR. 6.1 // -->
              <div class="tp-caption lfr modern_big_redbg br-yellow"
                data-x="right"
                data-hoffset="-10"
                data-y="375"
                data-speed="1500"
                data-start="4400"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Linear.easeNone"
                data-captionhidden="off">Cambridge (410) 228-2399
              </div>
            </li>
          </ul>
          <!-- Banner Timer -->
          <div class="tp-bannertimer"></div>
        </div>
      </div>
      <!-- Slider End -->
      
      
      
      <!-- Main Content -->
      <div class="main-content">
      
 
        
        <!-- Dishes Start -->
      <div id='app' v-cloak >
        <div class="dishes padd">
          <div class="container">
            <!-- Default Heading -->
            <div class="default-heading">
              <!-- Crown image -->
              <img class="img-responsive" src="img/crown.png" alt="" />
              <!-- Heading -->
              <h2>Weekly Specials</h2>
              <!-- Paragraph -->
              <p>Avaliable Monday-Friday 11am-2pm</p>
              <!-- Border -->
              <div class="border"></div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-7"> 
                <div class="dishes-item-container">
                  <!-- Image Frame -->
                  <div class="img-frame">
                    <!-- Image -->
                    <img src="/assets/2slices.jpg" class="img-responsive" alt="" />
                    <!-- Block for on hover effect to image -->
                    <div class="img-frame-hover">
                      <!-- Hover Icon -->
                      <a href="/menu"><i class="fa fa-cutlery"></i></a>
                    </div>
                  </div>
                  <!-- Dish Details -->
                  <div class="dish-details">
                    <!-- Heading -->
                    <h3>Cheese Slices</h3>
                    <!-- Paragraph -->
                    <p>Two slices of cheese and a drink</p>
                    <!-- Button -->
                    <a href="/menu" class="btn btn-danger btn-sm">View Menu</a>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-7">
                <div class="dishes-item-container">
                  <!-- Image Frame -->
                  <div class="img-frame">
                    <!-- Image -->
                    <img v-bind:src="selectedSpecials[0].image_file_url" class="img-responsive" alt="" />
                    <!-- Block for on hover effect to image -->
                    <div class="img-frame-hover">
                      <!-- Hover Icon -->
                      <a href="/menu"><i class="fa fa-cutlery"></i></a>
                    </div>
                  </div>
                  <!-- Dish Details -->
                  <div class="dish-details">
                    <!-- Heading -->
                    <h3>{{selectedSpecials[0].name}}</h3>
                    <!-- Paragraph -->
                    <p>{{selectedSpecials[0].description}}</p>
                    <!-- Button -->
                    <a href="/menu" class="btn btn-danger btn-sm">View Menu</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-7">
                <div class="dishes-item-container">
                  <!-- Image Frame -->
                  <div class="img-frame">
                    <!-- Image -->
                    <img v-bind:src="selectedSpecials[1].image_file_url" class="img-responsive" alt="" />
                    <!-- Block for on hover effect to image -->
                    <div class="img-frame-hover">
                      <!-- Hover Icon -->
                      <a href="/menu"><i class="fa fa-cutlery"></i></a>
                    </div>
                  </div>
                  <!-- Dish Details -->
                  <div class="dish-details">
                    <!-- Heading -->
                    <h3>{{selectedSpecials[1].name}}</h3>
                    <!-- Paragraph -->
                    <p>{{selectedSpecials[1].description}}</p>
                    <!-- Button -->
                    <a href="/menu" class="btn btn-danger btn-sm">View Menu</a>
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
        <!-- Dishes End -->
        
        <!-- menu Start -->
        
        <div class="menu padd">
          <div class="container">
            <!-- Default Heading -->
            <div class="default-heading">
              <!-- Crown image -->
              <img class="img-responsive" src="img/crown.png" alt="" />
              <!-- Heading -->
              <h2>Menu</h2>
              <!-- Paragraph -->
              <p>Our menu consists of wide range of classic italian dishes as well as some traditional american comfort food</p>
              <!-- Border -->
              <div class="border"></div>
            </div>
            <!-- Menu content container -->
            <div class="menu-container">
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <!-- Menu header -->
                  <div class="menu-head">
                    <!-- Image for menu item -->
                    <img class="menu-img img-responsive img-thumbnail" src="/assets/galleryFoods/CheesePizza.JPG" alt="" />
                    <!-- Menu title / Heading -->
                    <h3>Pizza</h3>
                    <!-- Border for above heading -->
                    <div class="title-border br-red"></div>
                  </div>
                  <!-- Menu item details -->
                  <div class="menu-details br-red">
                    <!-- Menu list -->
                    <ul class="list-unstyled">
                      <li>
                        <div class="menu-list-item">
                          <!-- Icon -->
                          <i class="fa fa-angle-right"></i> <a href="/menu">Large Cheese</a> 
                          <!-- Price badge -->
                          <span class="pull-right">$15.95</span>
                          <div class="clearfix"></div>
                        </div>
                      </li>
                      <li>
                        <div class="menu-list-item">
                          <!-- Icon -->
                          <i class="fa fa-angle-right"></i> <a href="/menu">Medium Cheese</a>
                          <!-- Price badge -->
                          <span class="pull-right">$12.95</span>

                          <div class="clearfix"></div>
                        </div>
                      </li>
                      <li>
                        <div class="menu-list-item">
                          <!-- Icon -->
                          <i class="fa fa-angle-right"></i> <a href="/menu">Large Rusticana Special</a>
                          <!-- Price badge -->
                          <span class="pull-right">$23.95</span>
                          <div class="clearfix"></div>
                        </div>
                      </li>
                      <li>
                        <div class="menu-list-item">
                          <!-- Icon -->
                          <i class="fa fa-angle-right"></i> <a href="/menu">Large Meat Lovers</a>
                          <!-- Price badge -->
                          <span class="pull-right">$22.95</span>
                          <div class="clearfix"></div>
                        </div>
                      </li>
                      <li>
                        <div class="menu-list-item">
                          <!-- Icon -->
                          <i class="fa fa-angle-right"></i> <a href="/menu">Large Veggie Pizza</a>
                          <!-- Price badge -->
                          <span class="pull-right">$21.95</span>
                          <div class="clearfix"></div>
                        </div>
                      </li>
                    </ul>
                  </div><!-- / Menu details end -->
                </div>
                <div class="col-md-4 col-sm-4">
                  <!-- Menu header -->
                  <div class="menu-head">
                    <!-- Image for menu item -->
                    <img class="menu-img img-responsive img-thumbnail" src="/assets/galleryFoods/Raviloli.JPG" alt="" />
                    <!-- Menu title / Heading -->
                    <h3>Pasta</h3>
                    <!-- Border for above heading -->
                    <div class="title-border br-green"></div>
                  </div>
                  <!-- Menu item details -->
                  <div class="menu-details br-green">
                    <!-- Menu list -->
                    <ul class="list-unstyled">
                      <li>
                        <div class="menu-list-item">
                          <!-- Icon -->
                          <i class="fa fa-angle-right"></i> <a href="/menu">Tomato Sauce</a>
                          <!-- Price badge -->
                          <span class="pull-right">$12.45</span>
                          <div class="clearfix"></div>
                        </div>
                      </li>
                      <li>
                        <div class="menu-list-item">
                          <!-- Icon -->
                          <i class="fa fa-angle-right"></i> <a href="/menu">Lasagna</a>
                          <!-- Price badge -->
                          <span class="pull-right">$14.95</span>
                          <div class="clearfix"></div>
                        </div>
                      </li>
                      <li>
                        <div class="menu-list-item">
                          <!-- Icon -->
                          <i class="fa fa-angle-right"></i> <a href="/menu">Pasta with Sausage</a>
                          <!-- Price badge -->
                          <span class="pull-right">$13.95</span>
                          <div class="clearfix"></div>
                        </div>
                      </li>
                      <li>
                        <div class="menu-list-item">
                          <!-- Icon -->
                          <i class="fa fa-angle-right"></i> <a href="/menu">Cheese Ravioli</a>
                          <!-- Price badge -->
                          <span class="pull-right">$13.95</span>
                          <div class="clearfix"></div>
                        </div>
                      </li>
                      <li>
                        <div class="menu-list-item">
                          <!-- Icon -->
                          <i class="fa fa-angle-right"></i> <a href="/menu">Stuffed Shells</a>
                          <!-- Price badge -->
                          <span class="pull-right">$13.95</span>
                          <div class="clearfix"></div>
                        </div>
                      </li>
                    </ul>
                  </div><!-- / Menu details end -->
                </div>
                <div class="col-md-4 col-sm-4">
                  <!-- Menu header -->
                  <div class="menu-head">
                    <!-- Image for menu item -->
                    <img class="menu-img img-responsive img-thumbnail" src="/assets/galleryFoods/MozzSticks.JPG" alt="" />
                    <!-- Menu title / Heading -->
                    <h3>Sides</h3>
                    <!-- Border for above heading -->
                    <div class="title-border br-lblue"></div>
                  </div>
                  <!-- Menu item details -->
                  <div class="menu-details br-lblue">
                    <!-- Menu list -->
                    <ul class="list-unstyled">
                      <li>
                        <div class="menu-list-item">
                          <!-- Icon -->
                          <i class="fa fa-angle-right"></i> <a href="/menu">Mozzerella Sticks</a>
                          <!-- Price badge -->
                          <span class="pull-right">$7.95</span>
                          <div class="clearfix"></div>
                        </div>
                      </li>
                      <li>
                        <div class="menu-list-item">
                          <!-- Icon -->
                          <i class="fa fa-angle-right"></i> <a href="/menu">French Fries</a>
                          <!-- Price badge -->
                          <span class="pull-right">$4.45</span>
                          <div class="clearfix"></div>
                        </div>
                      </li>
                      <li>
                        <div class="menu-list-item">
                          <!-- Icon -->
                          <i class="fa fa-angle-right"></i> <a href="/menu">Onion Rings</a>
                          <!-- Price badge -->
                          <span class="pull-right">$6.45</span>
                          <div class="clearfix"></div>
                        </div>
                      </li>
                      <li>
                        <div class="menu-list-item">
                          <!-- Icon -->
                          <i class="fa fa-angle-right"></i> <a href="/menu">Bread Sticks</a>
                          <!-- Price badge -->
                          <span class="pull-right">$5.95</span>
                          <div class="clearfix"></div>
                        </div>
                      </li>
                      <li>
                        <div class="menu-list-item">
                          <!-- Icon -->
                          <i class="fa fa-angle-right"></i> <a href="/menu">Garlic Knots</a>
                          <!-- Price badge -->
                          <span class="pull-right">$5.95</span>
                          <div class="clearfix"></div>
                        </div>
                      </li>
                    </ul>
                  </div><!-- / Menu details end -->
                </div>
              </div>
            </div> <!-- /Menu container end -->
          </div>
        </div>
        
        <!-- Menu End -->
        
 
        
        <!-- Chefs Start -->
        
        <div class="chefs padd">
          <div class="container">
            <!-- Default Heading -->
            <div class="default-heading">
              <!-- Crown image -->
              <img class="img-responsive" src="img/crown.png" alt="" />
              <!-- Heading -->
              <h2>The Owners</h2>
              <!-- Paragraph -->
              <p>Our owners with over 30+ years experience in the resturant business take pride in serving up the best quality italian ingredients </p>
              <!-- Border -->
              <div class="border"></div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <!-- Chef Member -->
                <div class="chefs-member">
                  <!-- Chefs member header -->
                  <div class="chefs-head" style="height: 200px;   background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 0),
    linear-gradient(rgba(200,0,0,.5) 50%, transparent 0);
  background-size:50px 50px;">
                    <!-- Member background image -->
                    <!-- chef member image -->
                    <img class="chefs-img img-responsive" src="/assets/Tony.jpg" alt="" />
                  </div>
                  <!--Name / Heading -->
                  <h3><a href="/about">Tony</a></h3>
                  <!-- Member designation -->
                  <span>Business owner</span>
                  <!-- Social media links -->
  <!--                 <div class="social">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                  </div>
 -->                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <!-- Chef Member -->
                <div class="chefs-member">
                  <!-- Chefs member header -->
                  <div class="chefs-head" style="height: 200px;   background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 0),
    linear-gradient(rgba(200,0,0,.5) 50%, transparent 0);
  background-size:50px 50px;">
                    <!-- Member background image -->
                    <!-- chef member image -->
                    <img class="chefs-img img-responsive" src="/assets/Joann.jpg" alt="" />
                  </div>
                  <!--Name / Heading -->
                  <h3><a href="/about">Joann</a></h3>
                  <!-- Member designation -->
                  <span>Business owner</span>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <!-- Chef Member -->
                <div class="chefs-member">
                  <!-- Chefs member header -->
                  <div class="chefs-head" style="height: 200px;   background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 0),
    linear-gradient(rgba(200,0,0,.5) 50%, transparent 0);
  background-size:50px 50px;">
                    <!-- Member background image -->
                    <!-- <img class="chefs-back img-responsive" src="img/chef/c-back3.jpg" alt="" /> -->
                    <!-- chef member image -->
                    <img class="chefs-img img-responsive" src="/assets/anthony.jpg" alt="" />
                  </div>
                  <!--Name / Heading -->
                  <h3><a href="/about">Anthony</a></h3>
                  <!-- Member designation -->
                  <span>Dover Road business owner</span>
                  <!-- Social media links -->
<!--                   <div class="social">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Chefs End -->


        <!-- Locations Start -->
        
        <div class="chefs padd">
          <div class="container">
            <!-- Default Heading -->
            <div class="default-heading">
              <!-- Crown image -->
              <img class="img-responsive" src="img/crown.png" alt="" />
              <!-- Heading -->
              <h2>Locations</h2>
              <!-- Paragraph -->
              <p>Try one of our two locations in Easton and Cambridge </p>
              <!-- Border -->
              <div class="border"></div>
            </div>
              <div class="overlay" onClick="style.pointerEvents='none'"></div>
              <iframe src="https://www.google.com/maps/d/embed?mid=zeYESuFcMEsY.kkRoT_o7DYAc" width="100%" height="600"></iframe>
          </div>
        </div>
        

        <!-- Locations End -->

        
        
      </div><!-- / Main Content End --> 
      
      
    </div><!-- / Wrapper End -->
    
    
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span> 

