    <!-- Banner Start -->
      
      <div class="banner padd">
        <div class="container">
          <!-- Image -->
          <img class="img-responsive" src="img/crown-white.png" alt="" />
          <!-- Heading -->
          <h2 class="white">Locations</h2>
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Locations</li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
      
      <!-- Banner End -->



<div class="container">
  <div class="locations">
    <iframe src="https://www.google.com/maps/d/embed?mid=zeYESuFcMEsY.kkRoT_o7DYAc" width="100%" height="650"></iframe>
  </div>
</div>