
    <!-- Banner Start -->
      
      <div class="banner padd">
        <div class="container">
          <!-- Image -->
          <img class="img-responsive" src="img/crown-white.png" alt="" />
          <!-- Heading -->
          <h2 class="white">Menu</h2>
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Menu</li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
      
      <!-- Banner End -->
      <div class="container">
        <img class="imageOne" src="/assets/page1.jpg">
        <img class="imageTwo" src="/assets/page2.jpg">
        <img class="imageThree" src="/assets/page3.jpg">
      </div>
    
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span> 
    
    
    
  </body> 
</html>