
    <!-- Banner Start -->
      
      <div class="banner padd">
        <div class="container">
          <!-- Image -->
          <img class="img-responsive" src="img/crown-white.png" alt="" />
          <!-- Heading -->
          <h2 class="white">Menu</h2>
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Menu</li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
      
      <!-- Banner End -->
      <div class="container">
        <h1 class="text-center"> EASTON </h1>
        <img class="imageOne" src="/assets/menu1.png">
        <img class="imageTwo" src="/assets/menu2.png">        

        <h1 class="text-center"> CAMBRIDGE </h1>
        <img class="imageOne" src="/assets/menu3.png">
        <img class="imageOne" src="/assets/menu3.png">

        <h1 class="text-center"> CATERING MENU </h1>

        <img class="imageTwo" src="/assets/Catering2.png">


      </div>
    
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span> 
    
    
    
  </body> 
</html>
