/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require less-style
 *= require style
 *= require settings
 *= require prettyPhoto
 *= require flexslider
 */

a:link {
  text-decoration: none;
}

[v-cloak] {
  display: none;
}

.saveMessage {
  color:red;
}

.borderComplete {
  padding: 5px;
  background-image: linear-gradient(to bottom, rgba(240, 255, 40, 1) 0%, rgba(210,255,82,1) 100%), linear-gradient(to bottom, rgba(240, 40, 40, 1) 0%, rgba(210,255,82,1) 100%);
  background-clip:padding-box;
}
.well {
  cursor: pointer;
}

.menu .menu-details ul li span{ 
  width: 50px !important;
}

.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:600px; /* your iframe height */
   top:600px;  /* your iframe height */
   margin-top:-600px;  /* your iframe height */
}

.overlay2 {
   background:transparent; 
   position:relative; 
   width:100%;
   height:650px; /* your iframe height */
   top:650px;  /* your iframe height */
   margin-top:-650px;  /* your iframe height */
}

.imageOne {
  width: 100%;
  margin-top:75px;
}

.locations iframe {
  margin-top:75px;
}

.imageTwo {
  width: 100%;
}

.imageThree {
  width: 100%;
}
.about-company {
  margin-top: -30px;
  margin-bottom: -30px;
}

.about-company-item img {
  /*margin-bottom: 100px;*/
  height: 250px;
  width: 350px;
  margin: 10px 10px 0px 0px;
}
.about-company-item img.wrap-right {
  float: right;
}

.about-company-item img.wrap-left {
  float: left;
}

.about-company-item {
  max-width: 900px !important;
}

.nav img:hover {
  opacity: 0.3;
}

.banner {
  background-image: url('/assets/tableCloth.jpg') !important;
}

.breadcrumb {
  margin-bottom: 20px !important;
}

.banner h2 {
  /*margin-bottom: 30px !important;*/
}

.chefs-head {
  background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 0),
    linear-gradient(rgba(200,0,0,.5) 50%, transparent 0);
  background-size:50px 50px;
}


