<!DOCTYPE html>
<html>
  <head>
    <title>Rusticana</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link href="css/settings.css" rel="stylesheet">   
    <!-- FlexSlider Css -->
    <link rel="stylesheet" href="css/flexslider.css" media="screen" />
    <!-- Portfolio CSS -->
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <!-- Font awesome CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet"> 
    <!-- Custom Less -->
    <link href="css/less-style.css" rel="stylesheet"> 
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!--[if IE]><link rel="stylesheet" href="css/ie-style.css"><![endif]-->
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32" />
    <!-- <link rel="shortcut icon" href="#"> -->

  </head>

  <body>
      <!-- Header Start -->
      <div class="header">
        <div class="container">
          <!-- Header top area content -->
   
          <div class="row">
            <div class="col-md-4 col-sm-5">
              <!-- Link -->
              <a href="/">
                <!-- Logo area -->
                <div class="logo">
                  <img class="img-responsive" src="/assets/newcroplogo.png" alt="" />
                  <!-- Heading -->
                  <h1>Rusticana Pizza</h1>
                  <!-- Paragraph -->
                  <p>Homemade Italian food</p>
                </div>
              </a>
            </div>
            <div class="col-md-8 col-sm-7">
              <!-- Navigation -->
              <nav class="navbar navbar-default navbar-right" role="navigation">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li><a href="/"><img src="/assets/CheesePizzaNavPic.jpg" class="img-responsive" alt="" /> Home</a></li>
                      <li class="dropdown hidden-xs">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown"><img src="/assets/page1.jpg" class="img-responsive" alt="" /> Menu <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-md">
                          <li>
                            <div class="row">
                              <div class="col-md-4 col-sm-6">
                                <!-- Menu Item -->
                                <div class="menu-item">
                                  <!-- Heading -->
                                  <h3>Pizza</h3>
                                  <!-- Image -->
                                  <a href="/menu"><img src="/assets/galleryFoods/PeppSaugPizza.JPG" class="img-responsive" alt="" /></a>
                                  <!-- Paragraph -->
                                  <p>Checkout our Pizza. Add any topping you like!</p>
                                  <!-- Button -->
                                  <a href="/menu" class="btn btn-danger btn-xs">View Menu</a>
                                </div>
                              </div>
                              <div class="col-md-4 col-sm-6">
                                <!-- Menu Item -->
                                <div class="menu-item">
                                  <!-- Heading -->
                                  <h3>Pasta</h3>
                                  <!-- Image -->
                                  <a href="/menu"><img src="/assets/galleryFoods/SausagePasta.JPG" class="img-responsive" alt="" /></a>
                                  <!-- Paragraph -->
                                  <p>Pasta topped with our homemade sauce. </p>
                                  <!-- Button -->
                                  <a href="/menu" class="btn btn-danger btn-xs">View Menu</a>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <!-- Menu Item -->
                                <div class="menu-item">
                                  <!-- Heading -->
                                  <h3>Sides</h3>
                                  <!-- Image -->
                                  <a href="/menu"><img src="/assets/galleryFoods/BBQFries.JPG" class="img-responsive" alt="" /></a>
                                  <!-- Paragraph -->
                                  <p>View our Sides! Including BBQ fries.</p>
                                  <!-- Button -->
                                  <a href="/menu" class="btn btn-danger btn-xs">View Menu</a>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown visible-xs">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="/menu">Pizza</a></li>
                          <li><a href="/menu">Pasta</a></li>
                          <li><a href="/menu">Sides</a></li>
                        </ul>
                      </li>
                      
                      <li><a href="/gallery"><img src="/assets/gallery.jpg" class="img-responsive" alt="" /> Gallery</a></li>
                      
                      <li>
                        <a href="/locations"><img src="/assets/locationsNavPic.jpg" class="img-responsive" alt="" /> Locations </a>
    
                      </li>

                      <li><a href="/about"><img src="/assets/anthonypapaNavPic.jpg" class="img-responsive" alt="" /> About</a></li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>
            </div>
          </div>
        </div> <!-- / .container -->
      </div>
    
    <%= yield %>

      <!-- Footer Start -->
      <div class="footer padd">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Logo area -->
                <div class="logo">
                  <img class="img-responsive" src="/assets/newcroplogo.png" alt="" />
                  <!-- Heading -->
                  <h1>Rusticana Pizza</h1>
                </div>
                <!-- Paragraph -->
                <p>Homemade italian Food. Including Pizza, Pasta, and Subs. Call ahead for fast pickup! </p>
                <hr />
                <!-- Heading -->
                <h6>Payment Mehtods</h6>
                <!-- Images -->
                <img class="payment img-responsive" src="/assets/AmericanExpress.png" alt="" />
                <img class="payment img-responsive" src="img/payment/discover.gif" alt="" />
                <img class="payment img-responsive" src="img/payment/mastercard.gif" alt="" />
                <img class="payment img-responsive" src="img/payment/visa.gif" alt="" />
              </div> <!--/ Footer widget end -->
            </div>
            <div class="col-md-3 col-sm-6">
              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Heading -->
                <h4>Featured Dishes</h4>
                <!-- Images -->
                <img class="dish img-responsive" src="/assets/galleryFoods/PeppSaugPizza.JPG" alt="" />
                <img class="dish img-responsive" src="/assets/galleryFoods/AntiPasta.JPG" alt="" />
                <img class="dish img-responsive" src="/assets/galleryFoods/BBQFries.JPG" alt="" />
                <img class="dish img-responsive" src="/assets/galleryFoods/CheeseFries.JPG" alt="" />
                <img class="dish img-responsive" src="/assets/galleryFoods/Calzone.JPG" alt="" />
                <img class="dish img-responsive" src="/assets/galleryFoods/HotWings.JPG" alt="" />
                <img class="dish img-responsive" src="/assets/galleryFoods/ITACombo.JPG" alt="" />
                <img class="dish img-responsive" src="/assets/galleryFoods/MDCrab.JPG" alt="" />
                <img class="dish img-responsive" src="/assets/galleryFoods/Shrimps.JPG" alt="" />
              </div> <!--/ Footer widget end -->
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-md-3 col-sm-6">
              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Heading -->
                <h4>Visit our FaceBook</h4>
                <!-- Paragraph -->
                <p>Like and follow us on FaceBook to keep up to date on events, lunch specials, and more!</p>
                <!-- Social Media  -->
                <div class="social">
                  <a href="https://www.facebook.com/RusticanaPizzas/" class="facebook"><i class="fa fa-facebook"></i></a>

                <hr/>
                <% if !current_user %>
                  <a href="/employee_login"><h6>Employee Login</h6></a>
                <% else %>
                  <a href="/logout"><h6>Logout</h6></a>
                  <a href="/admin_panel"><h6>Admin Panel</h6></a>

                <% end%>
  <!--                 <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a> -->
                </div>
 
              </div> <!--/ Footer widget end -->
            </div>
            <div class="col-md-3 col-sm-6">
              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Heading -->
                <h4>Contact Us</h4>
                <div class="contact-details">
                  <!-- Address / Icon -->
                  <i class="fa fa-map-marker br-red"></i> <span>219 Marlboro Ave<br />Easton MD, 21601<br /> </span>
                  <div class="clearfix"></div>
                  <!-- Contact Number / Icon -->
                  <i class="fa fa-phone br-green"></i> <span>410-820-7422</span>
                  <div class="clearfix"></div>
                  <!-- Address / Icon -->
                  <i class="fa fa-map-marker br-red"></i> <span>810 Dover Rd<br />Easton MD, 21601<br /> </span>
                  <div class="clearfix"></div>
                  <!-- Contact Number / Icon -->
                  <i class="fa fa-phone br-green"></i> <span>410-820-5110</span>
                  <div class="clearfix"></div>

                </div>

              </div> <!--/ Footer widget end -->
            </div>
          </div>
          <!-- Copyright -->
          <div class="footer-copyright">
            <!-- Paragraph -->
            <p>&copy; Copyright 2017 <a href="#">Rusticana Pizza</a></p>
          </div>
        </div>
      </div>
      <!-- Footer End -->

    
    <!-- Javascript files -->
    <!-- jQuery -->
    <!-- <script src="js/jquery.js"></script> -->
    <!-- Bootstrap JS -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
    <!-- FLEX SLIDER SCRIPTS  -->
    <script defer src="js/jquery.flexslider-min.js"></script>
    <!-- Pretty Photo JS -->
    <script src="js/jquery.prettyPhoto.js"></script>
    <!-- Respond JS for IE8 -->
    <script src="js/respond.min.js"></script>
    <!-- HTML5 Support for IE -->
    <script src="js/html5shiv.js"></script>
    <!-- Custom JS -->
    <script src="js/custom.js"></script>
    <!-- JS code for this page -->
    <script>
    /* ******************************************** */
    /*  JS for SLIDER REVOLUTION  */
    /* ******************************************** */
        jQuery(document).ready(function() {
             jQuery('.tp-banner').revolution(
            {
              delay:9000,
              startheight:500,
              
              hideThumbs:10,
              
              navigationType:"bullet",  
                            
              hideArrowsOnMobile:"on",
              
              touchenabled:"on",
              onHoverStop:"on",
              
              navOffsetHorizontal:0,
              navOffsetVertical:20,
              
              stopAtSlide:-1,
              stopAfterLoops:-1,

              shadow:0,
              
              fullWidth:"on",
              fullScreen:"off"
            });
        });
    /* ******************************************** */
    /*  JS for FlexSlider  */
    /* ******************************************** */
    
      $(window).load(function(){
        $('.flexslider-recent').flexslider({
          animation:    "fade",
          animationSpeed: 1000,
          controlNav:   true,
          directionNav: false
        });
        $('.flexslider-testimonial').flexslider({
          animation:    "fade",
          slideshowSpeed: 5000,
          animationSpeed: 1000,
          controlNav:   true,
          directionNav: false
        });
      });
    
    /* Gallery */

    jQuery(".gallery-img-link").prettyPhoto({
       overlay_gallery: false, social_tools: false
    });
    
    </script>
    

  </body>
</html>
